.card {
  background-color: #fff;
  border-radius: 20px; 
  box-shadow: 0 4px 8px #0000001a;
  padding: 20px;
  
}

.card-body {
  padding: 20px;
  border-radius: 20px;
}

.card-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.list-group {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-group-item {
  padding: 15px 10px;
  font-size: 16px;
  color: #555;
}

.list-group-item:last-child {
  border-bottom: none;
}

.btn {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 12px; /* Adjust button border-radius if needed */
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
}

.btn:hover {
  background-color: #218838;
}

.btn:active {
  background-color: #1e7e34;
}
