.start-wrapper{
    background: #000000;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .logo-wrapper{

        top: 10%;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    
        
        .company-logo{
            height: 48px;
        }
        .presents{
            height: 12px;
        }
    
        .event-logo {
            height: 75px;
            width: 238px;
        }
    }
    
}


.rounds-container{
    display: flex;
    margin: 32px;
    gap: 20px;
}

.line{
    z-index: 1;
    width: 8%;
    top: 50%;
    left: -14%;
    position: relative;
    height: 10px;
    background-color: #C5C5C5;
    

    &.enabled{
        background-color: rgba(43, 182, 115, 1);

    }

}





.round-card{
    width: 320px;
    padding: 15px;
    border-radius:15px;
    font-size: 18px;
    background-color: #ffffff;
    cursor: pointer;
    z-index: 50;
    opacity: 30%;
    height: 420px;
    font-weight: 500;
    border: 5px solid rgba(43, 182, 115, 1);
    transition: all 800ms;

    &.enabled{
        transform: scale(1);
        opacity: 1;
    }
    .title{
        color:#021526;
        font-size: 32px;
        font-weight: 700;

    }
    .card-header{
        margin: 8px 0px;
    }

    .card-image{
        width: 100%;
        max-height: 220px;
        border-radius: 15px;
    }


    .card-body{
        .duration-container{
            margin: 3px 0px;
            display: flex;
            gap: 8px;
            font-weight: 500;
            color: #606676;

        }
        .icon{
            vertical-align: middle;
        }
        .duration{
            font-size: 16px;
            margin-top: 3px;
            align-items: center;
            vertical-align: middle;
        }
    }
}





.app-start{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    background: rgba(43, 182, 115, 1);
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    height: 42px;
    cursor: pointer;
    width: 100%;
    position: relative;
    gap: 8px;

    &.disabled{
        background: rgb(84, 213, 151);
        cursor: auto;
    }

}



form{
    display: flex;
    flex-direction: column;
    width: 55%;
    
    .form-input-wrapper{
        display: flex;
        flex-direction: column;
        gap:10px;
    }

    .p-field{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
    }
    input{
        padding: 10px 35px;
        border-radius: 8px;
        border: none;
        width: 100%;
    }

    label{
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 5px;
        color: #C5C5C5;
    }

    .p-error{
        font-size: 12px;
        color: #FF5555;
        
        
    }

    
}

.scorecard{
    
    color: rgba(43, 182, 115, 1);
    font-size: 24px;
    display: flex;
    align-items: baseline;
    font-size: 600;
    
}

.form-button-wrapper{
    display: flex;
    justify-content: center;
}
